    .back {
        background: rgba(56, 128, 255, 0.1);
    }
    
    .avatar {
        position: relative;
        top: 20px;
        left: 10px;
        height: 4em;
        width: 4em;
    }
    
    .avatar-text {
        position: relative;
        left: 64px;
        top: -20px;
        margin-bottom: 30px;
    }
    
    .position {
        margin-bottom: 5px;
    }