@font-face {
    font-family: 'Segoeuil';
    src: url('../fonts/segoeuil.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Segoeuil';
    src: url('../fonts/segoeuil.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoeuil';
    src: url('../fonts/segoeuil.ttf');
    font-weight: 900;
    font-style: normal;
}