<app-menu></app-menu>

<ion-header no-border>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="font-size:20px; font-family: 'Segoeuil'">CATEGORÍAS</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content id="main">
    <ion-grid *ngFor="let cat of arrCategoria" expand="full">
        <!-- Categorias -->
        <ion-row>
            <ion-col size="12">
                <ion-label class="titulo">
                    {{cat.strNombre}}
                </ion-label>
                <img class="img-cat" src="http://172.16.40.19:3000/api/imagen/obtener/imgCat/{{cat.strImagen}}">
                <ion-chip class="chip-cat">
                    <ion-icon name="hammer"></ion-icon>
                    <ion-label>0 Profesionales</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
        <!-- Oficios -->
        <ion-row>
            <ion-col size="12">
                <ion-slides [options]="slideOpts" scrollbar="true">
                    <ion-slide *ngFor="let ofic of cat.aJsnOficios">
                        <ion-card [routerLink]="['/oficios',cat._id, ofic._id ]">

                            <img class="img-oficio" src="http://172.16.40.19:3000/api/imagen/obtener/imgOfi/{{ofic.strImagen}}">
                            <ion-label class="titulo-oficio" style="padding-top: 50%;">{{ofic.strNombre | slice: 0: 17}}</ion-label>

                            <ion-chip class="chip-ofi">
                                <ion-icon name="contact" color="white"></ion-icon>
                                <ion-label>0</ion-label>
                            </ion-chip>

                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>